<!doctype html>
<html lang="en" ng-app="radio">
<head>
    <meta charset="utf-8">
    <title>radio</title>

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/theme.css">
    <link rel="stylesheet" href="radio.css">

    <script src="js/angular.js"></script>
    <script src="js/ui.js"></script>
    <script src="js/animate.js"></script>
    <script src="radio.js"></script>
</head>
<body ng-controller="dj">

    <div class="container">

        <div class="current">
            <uib-progressbar id="progressbar" max="total" value="elapsed" ng-click="progress($event)">
                <span>{{hmElapsed}} / {{hmTotal}} ({{percent}}%)</span>
            </uib-progressbar>

            <span class="info">
                {{song.Name}}
                <a ng-click="search('Artist', song.Artist)" href="#">{{song.Artist}}</a> -
                <a ng-click="search('Title', song.Title)" href="#">{{song.Title}}</a>
                [<a ng-click="search('Album', song.Album)" href="#">{{song.Album}}</a>]
                <span class="listeners">({{status.listeners}} listeners)</span>
                <div class="filename">{{song.file}}</div>
            </span>
            <span class="control">
                <button class="btn btn-default btn-sm" ng-click="refresh()">&#x21ba;</button>
                <button class="btn btn-default btn-sm" ng-click="skip()">skip</button>
                <button class="btn btn-default btn-sm" ng-click="shuffle()">shuffle</button>
                <button class="btn btn-default btn-sm" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-model="xfadeStatus" ng-click="xfade()">xfade</button>
                <button class="btn btn-default btn-sm" ng-click="crop()">crop</button>
                <button class="btn btn-default btn-sm" ng-click="addRandom(count)">add random ({{count}})</button>
                <button class="btn btn-default btn-sm" ng-click="count=count+1">+</button>
            </span>
        </div>

        <br />

        <uib-tabset active="activeTab" justified="true" class="tabs">

            <uib-tab index="0" heading="playlist" class="tab">
                <ol class="playlist">
                    <li ng-repeat="file in playlist" ng-class="{'currentSong': isCurrentSong(file)}">
                        <span class="name">{{file.Name}}</span>
                        <span class="artist">{{file.Artist}} - </span>
                        <span class="title">{{file.Title}}</span>
                        <div class="filename">{{file.file}}</div>
                        <div class="control">
                            <button class="play btn btn-sm btn-default" ng-click="play(file.Pos)">&#x25BA;</button>
                            <button class="moveUp btn btn-sm btn-default" ng-click="moveUp(file.Pos)">&#x25B2;</button>
                            <button class="moveDown btn btn-sm btn-default" ng-click="moveDown(file.Pos)">&#x25BC;</button>
                            <button class="delete btn btn-sm btn-danger" ng-click="delete(file.Pos)">&#x274c;</button>
                        </div>

                    </li>
                </ol>
            </uib-tab>

            <uib-tab index="1" heading="saved" class="tab" ng-click="browseSaved()">
                <div class="browse saved">
                    <ul class="items">
                        <li ng-repeat="list in lists">
                            <a href="#"ng-click="load(list)">{{list}}</a>
                        </li>
                    </ul>
                </div>
            </uib-tab>

            <uib-tab index="2" heading="browse" class="tab" ng-click="browse(path)">
                <div class="browse">
                    <div class="path">
                        <span ng-repeat="part in pathParts">
                            / <a href="#" ng-click="browse(part.link)">{{part.name}}</a>
                        </span>
                    </div>
                    <div class="control">
                        <button class="add btn btn-sm btn-default" ng-click="add(path)">add all</button>
                    </div>
                    <ul class="items">
                        <li ng-repeat="directory in directories">
                            <a href="#"ng-click="browse(directory.path)">{{directory.name}}</a>
                        </li>
                        <li ng-repeat="file in files">
                            <div class="file">{{file.name}}</div>
                            <div class="control">
                                <button class="add btn btn-sm btn-default" ng-click="add(file.path)">+</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </uib-tab>

            <uib-tab index="3" heading="search" class="tab">
                <div class="search">
                    <form ng-submit="search(type, what)">
                        <select ng-model="type">
                            <option value="Artist">artist</option>
                            <option value="Title">title</option>
                            <option value="Album">album</option>
                            <option value="Filename">filename</option>
                        </select>
                        <input type="text" ng-model="what" value="{{what}}">
                    </form>
                    <div class="results">
                        <ul class="items">
                            <li ng-repeat="result in results track by $index">
                                <span class="file" ng-repeat="part in result.parts">
                                    / <a href="#" ng-click="browse(part.link)">{{part.name}}</a>
                                </span>
                                <div class="control">
                                    <button class="add btn btn-sm btn-default" ng-click="add(result.path)">+</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </uib-tab>

            <uib-tab index="4" heading="stream" class="tab">
                <div class="stream">
                    <form ng-submit="addStream(stream)">
                        <input type="text" ng-model="stream" value="stream">
                    </form>
                </div>
            </uib-tab>

            <uib-tab index="5" heading="listen" class="tab">
                <div class="listen">
                    <div class="player">
                        <audio src="/stream" controls="true" preload="none"></audio>
                    </div>
                    <div>
                        <a href="/stream">ogg</a>
                    </div>
                </div>
            </uib-tab>

            <uib-tab index="6" heading="chat" class="tab">
                <div class="chat">
                    <iframe class="chatframe" src="chat.html" scrolling="no" frameborder="0"></iframe>
                </div>
            </uib-tab>

        </uib-tabset>
    </div>

</body>
</html>
