<!doctype html>
<html lang="en" ng-app="radio">
<head>
    <meta charset="utf-8">
    <title>radio</title>

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/theme.css">
    <link rel="stylesheet" href="radio.css">

    <script src="js/angular.js"></script>
    <script src="js/ui.js"></script>
    <script src="js/animate.js"></script>
    <script src="radio.js"></script>
</head>
<body ng-controller="dj">

    <div class="container">

        <div class="player">
            <audio src="/stream" controls="true" preload="none"></audio>
            <span class="listeners">{{status.listeners}} listeners</span>
        </div>

        <div class="song">
            <uib-progressbar id="progressbar" max="total" value="elapsed" ng-click="progress($event)">
                <span>{{hmElapsed}} / {{hmTotal}} ({{percent}}%)</span>
            </uib-progressbar>
            <div ng-show="selected">{{selected}}</div>
            <dl class="current">
                <dt class="artist">artist</dt>
                <dd class="artist"><a ng-click="search('Artist', song.Artist)" href="#">{{song.Artist}}</a></dd>
                <dt class="album">album</dt>
                <dd class="album"><a ng-click="search('Album', song.Album)" href="#">{{song.Album}}</a></dd>
                <dt class="title">title</dt>
                <dd class="title"><a ng-click="search('Title', song.Title)" href="#">{{song.Title}}</a></dd>
                <dt class="filename">filename</dt>
                <dd class="filename">{{song.file}}</a></dd>
            </dl>
        </div>

        <div class="control">
            <span class="refresh"><button class="btn btn-primary" ng-click="refresh()">&#x21ba;</button></span>
            <span class="next"><button class="btn btn-primary" ng-click="skip()">skip</button></span>
            <span class="shuffle"><button class="btn btn-primary" ng-click="shuffle()">shuffle</button></span>
            <span class="crop"><button class="btn btn-primary" ng-click="crop()">crop</button></span>
            <span class="addRandom"><button class="btn btn-primary" ng-click="addRandom(count)">add random ({{count}})</button></span>
            <span class="incrementRandom"><button class="btn btn-primary" ng-click="count=count+1">+</button></span>

        </div>

        <br />

        <uib-tabset active="activeTab" justified="true" class="tabs">

            <uib-tab index="0" heading="playlist" class="tab">
                <ol class="playlist">
                    <li ng-repeat="file in playlist" ng-class="{'currentSong': isCurrentSong(file)}">
                        <span class="artist">{{file.Artist}} - </span>
                        <span class="title">{{file.Title}}</span>
                        <div class="filename">{{file.file}}</div>
                        <div class="control">
                            <button class="play btn btn-sm btn-default" ng-click="play(file.Pos)">&#x25BA;</button>
                            <button class="moveUp btn btn-sm btn-default" ng-click="moveUp(file.Pos)">&#x25B2;</button>
                            <button class="moveDown btn btn-sm btn-default" ng-click="moveDown(file.Pos)">&#x25BC;</button>
                            <button class="delete btn btn-sm btn-danger" ng-click="delete(file.Pos)">&#x274c;</button>
                        </div>

                    </li>
                </ol>
            </uib-tab>

            <uib-tab index="1" heading="saved" class="tab" ng-click="browseSaved()">
                <div class="browse saved">
                    <ul class="items">
                        <li ng-repeat="list in lists">
                            <a href="#"ng-click="load(list)">{{list}}</a>
                        </li>
                    </ul>
                </div>
            </uib-tab>

            <uib-tab index="2" heading="browse" class="tab" ng-click="browse(path)">
                <div class="browse">
                    <div class="path">
                        <span ng-repeat="part in pathParts">
                            / <a href="#" ng-click="browse(part.link)">{{part.name}}</a>
                        </span>
                    </div>
                    <div class="control">
                        <button class="add btn btn-sm btn-default" ng-click="add(path)">add all</button>
                    </div>
                    <ul class="items">
                        <li ng-repeat="directory in directories">
                            <a href="#"ng-click="browse(directory)">{{directory}}</a>
                        </li>
                        <li ng-repeat="file in files">
                            <div class="file">{{file}}</div>
                            <div class="control">
                                <button class="add btn btn-sm btn-default" ng-click="add(file)">+</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </uib-tab>

            <uib-tab index="3" heading="search" class="tab">
                <div class="search">
                    <form name="search">
                        <select name="type" data-ng-model="type">
                            <option value="Artist">artist</option>
                            <option value="Title">title</option>
                            <option value="Album">album</option>
                            <option value="Filename">filename</option>
                        </select>
                        <input type="text" name="what" data-ng-model="what" value="{{what}}">
                        <input type="submit" class="btn btn-sm btn-primary" ng-click="searchSubmit(search)">
                    </form>
                    <div class="results">
                        <ul class="items">
                            <li ng-repeat="result in results track by $index">
                                <div class="file">{{result.file}}</div>
                                <div class="control">
                                    <button class="add btn btn-sm btn-default" ng-click="add(result.file)">+</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </uib-tab>

            <uib-tab index="4" heading="chat" class="tab">
                <div class="chat">
                    <iframe class="chatframe" src="chat.html" scrolling="no" frameborder="0"></iframe>
                </div>
            </uib-tab>

        </uib-tabset>
    </div>

    <script type="text/ng-template" id="modal.html">
        <div class="modal-header">
            <h3 class="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="item in items">
                    <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item.file }}</a>
                </li>
            </ul>
            Selected: <b>{{ selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">add</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">nah</button>
        </div>
    </script>

</body>
</html>
