<!doctype html>
<html lang="en" ng-app="radio">
<head>
    <meta charset="utf-8">
    <title>radio</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/theme.css">
    <link rel="stylesheet" href="css/radio.css">
    <script src="js/angular.js"></script>
    <script src="js/ui.js"></script>
    <script src="js/animate.js"></script>
    <script src="js/radio.js"></script>
</head>
<body ng-controller="dj">

    <div class="container">

        <div class="player">
            <audio src="http://deb.r0k:8001/stream.ogg" controls="true" preload="none"></audio>
            <span class="listeners">{{status.listeners}} listeners</span>
        </div>

        <div class="song">
            <uib-progressbar max="total" value="elapsed">
                <span>{{elapsed}} / {{total}} ({{percent}}%)</span>
            </uib-progressbar>
            <div ng-show="selected">{{selected}}</div>
            <dl class="current">
                <dt class="artist">artist</dt>
                <dd class="artist"><a ng-click="find('Artist', song.Artist)" href="#">{{song.Artist}}</a></dd>
                <dt class="album">album</dt>
                <dd class="album"><a ng-click="find('Album', song.Album)" href="#">{{song.Album}}</a></dd>
                <dt class="title">title</dt>
                <dd class="title"><a ng-click="find('Title', song.Title)" href="#">{{song.Title}}</a></dd>
                <dt class="filename">filename</dt>
                <dd class="filename">{{song.file}}</a></dd>
            </dl>
        </div>

        <div class="control">
            <span class="refresh"><button class="btn btn-primary" ng-click="refresh()">&#x21ba;</button></span>
            <span class="next"><button class="btn btn-primary" ng-click="skip()">skip</button></span>
            <span class="shuffle"><button class="btn btn-primary" ng-click="shuffle()">shuffle</button></span>
            <span class="crop"><button class="btn btn-primary" ng-click="crop()">crop</button></span>
            <span class="addRandom"><button class="btn btn-primary" ng-click="addRandom(count)">add random</button></span>
            <span class="incrementRandom"><button class="btn btn-primary" ng-click="count=count+1">{{count}}</button></span>

        </div>

        <hr />

        <div class="playlist">
            <ol>
                <li ng-repeat="file in playlist" ng-class="{'currentSong': isCurrentSong(file)}">
                    <span class="artist">{{file.Artist}}</span>
                    <span class="title">{{file.Title}}</span>
                    <div class="filename">{{file.file}}</div>
                    <div class="control">
                        <button class="play btn btn-sm btn-default" ng-click="play(file.Pos)">&#x25BA;</button>
                        <button class="moveUp btn btn-sm btn-default" ng-click="moveUp(file.Pos)">&#x25B2;</button>
                        <button class="moveDown btn btn-sm btn-default" ng-click="moveDown(file.Pos)">&#x25BC;</button>
                        <button class="delete btn btn-sm btn-danger" ng-click="delete(file.Pos)">&#x274c;</button>
                    </div>

                </li>
            </ol>
        </div>

    </div>

    <script type="text/ng-template" id="modal.html">
        <div class="modal-header">
            <h3 class="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="item in items">
                    <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item.file }}</a>
                </li>
            </ul>
            Selected: <b>{{ selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">add</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">nah</button>
        </div>
    </script>

</body>
</html>
